a {
    color: #fff;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #000;
}

#fir1 {
    width: 500px;
    height: 240px;
    margin: 0 auto;
    overflow: auto;
}

#marc1 {
    height: 5px;
    background: #498F81;
    border-top: 1px solid #080808;
    border-bottom: 1px solid #080808;
    width: 500px;
    margin: 0 auto;
}

#ani1 {
    width: 190px;
    padding: 5px;
    text-align: center;
    height: 150px;
    position: relative;
    top: 50px;
    left: -500px;
    transition: .5s
}

#ani2 {
    font: 30px Roboto;
    border-bottom: 1px solid #080808;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 700;
    text-align: center;
    padding: 0px;
}

#ani1 a {
    display: block;
    opacity: 0.8;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font: 10px roboto;
    padding: 2px;
    text-align: center;
    margin: 2px;
}

#ani1 i {
    font: 10px "Droid Sans";
}

#fir1:hover #ani1 {
    left: 10px;
}

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #123D34;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}